[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
fs_permissions = [{ access = "read", path = "./proof_data.json" }, { access = "read", path = "./bad_proof_data.json" }]
via_ir = true
